{% extends 'base.html' %}
{% block content %}

    <h1>Update Your Club</h1>

    <form action="{% url 'update' club.id %}" method="post">
        {% csrf_token %}
        <p>동아리 이름: <input type="text" name="clubname" value ="{{club.clubname}}"></p>
        <!-- <p>작성자: <input type="text" name="writer" value="{{blog.writer}}"></p> -->
        인원: <input type="number" name="personnel" vlaue="{{club.personnel}}">
        동아리 소개: <textarea name="clubinfo" id="" cols="30" rows="10">{{club.clubinfo}}</textarea>
        <button type="submit">submit</button>
    </form>

{% endblock %}